<html>
<head>
  <link rel=stylesheet href={{ url_for('static', filename='style.css') }}>
  <link rel=stylesheet href='static/codebase/dhtmlxcalendar.css'>
  <script src='static/codebase/dhtmlxcalendar.js'></script>
</head>

<body>
    <div class=content>
    <h1 style="margin-top: 100px">Backend Updater</h1>
    <p>Use this page to update the configurations for professors, the semester schedule, classes, and more.</p>
    <p>Hover over an option to see what you can edit through that section</p>
    <!-- Main menu -->
        <div class=options>
          <div>
            <button class=option-button onclick=edit_prof_list()>Edit professor list</button>
            <p class=button-text>Here you may add/remove professors from the server's database.  Changing the professor list will change who is available to choose from when creating a schedule as well as who may request demos.</p>
          </div>
          <div>
            <button class=option-button onclick=edit_schedule()>Edit schedule</button>
            <p class=button-text>Here you may edit the schedule for the current semester.  This schedule is used when authenticating a professor's request for a demo as well as updating the lecture prep Google Cal.</p>
          </div>
          <div>
            <button class=option-button onclick=edit_util()>Edit configs</button>
            <p class=button-text>Here you may configure odds and ends of this config service.  The full list of choices are adding/removing: classes, class time slots, and class rooms.  You may also generate the Google Cal events for each class form this page.</p>
          </div>
        </div>
        <div class=edit_professor_list id=professor_beginning>
        <!-- Edit professors -->
            <h1>Edit active professors here</h1>
            <h2>Current professors:</h2>
            <table class=prof-table><tbody>
                <tr>
            {% set counter = 0 %}
            {% for prof in profs %}
            {% if counter >= 4 %}
                </tr>
                <tr>
                    <td class=prof-table-td>{{prof}}</td>
            {% set counter = 0 %}
            {% else %}
                    <td class=prof-table-td>{{prof}}</td>
            {% endif %}
            {% set counter = counter + 1 %}
            {% endfor %}
            </tr>
            </tbody></table>
            <div class=remove_prof_wrapper>
                <h3>Select the professor to remove</h3>
                <form action="/removeProf" method="POST">
                    <div id=remove_prof_form_wrapper></div>
                    <button type=submit class="button remove" name=Remove>Remove</button>
                </form>
                </div>
            <div class=add_prof_wrapper>
                <h3>Who would you like to add</h3>
                <p>Any casing (e.g.: hatch, Hatch, hAtCh, etc.)</p>
                <form action="/addProf" method="POST">
                    <input name=professor></input><br>
                    <button class="button submit" type=submit>Submit</button>
                </form>
            </div>
        </div>
        <div class=edit_schedule id=schedule_beginning>
            <div class=remove_class_wrapper>
              <h1>Current active classes</h1>
              <h2>Click on a class to select it</h2>
                <table class=sched-table><tbody>
                    <th>Class</th>
                    <th>Prof</th>
                    <th>Start-End times</th>
                    <th>Days</th>
                    <th>Room</th>
                {% for p in active %}
                {% for c in active[p] %}
                <tr class={{c}} onclick=remove_class(["{{p.lower()}}","{{c}}"])>
                    <td class=scehd-table-td>{{ c }}</td>
                    <td class=sched-table-td>{{ p.capitalize() }}</td>
                    <td class=sched-table-td>{{ active[p][c]["start"][0] }}:{{ active[p][c]["start"][1]}}-{{ active[p][c]["end"][0] }}:{{ active[p][c]["end"][1] }}</td>
                    <td class=sched-table-td>{{ active[p][c]["days"] }}</td>
                    <td class=sched-table-td>{{ active[p][c]["room"] }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody></table><br>
                <button onclick=purge() class="button remove">Remove</button>
                <form method='POST' action='/purgeSchedule'>
                    <button type=submit class="button submit">Purge list</button>
                </form>
            </div>
          <div class=edit_schedule_wrapper>
            <h1>Edit active classes</h1>
            <h2>Edit the fields below to change the class</h2>
            <p><i>Note: </i>not all fields need to be changed; any fields left blank will be unchanged</p>
            <form action=/editSchedule method=POST>
                <select id=edit_schedule_selection autocomplete="off" name=to_edit onchange=edit_form_append()>
                    <option selected disabled>...</option>
                    {% for p in active %}
                    {% for c in active[p] %}
                    <option>{{c}} {{p.capitalize()}} {{active[p][c]["start"][0]}}:{{active[p][c]["start"][1]}}-{{active[p][c]["end"][0]}}:{{active[p][c]["end"][1]}} {{active[p][c]["days"]}} {{active[p][c]["room"]}}</option>
                    {% endfor %}
                    {% endfor %}
                </select><br><br>
                <div id=editForm></div>
                <button class="button submit">Edit</button>
            </form>
          </div>
          <div class=add_schedule_wrapper>
            <h1>Create an active class</h1>
            <h2>Enter the info below</h2>
            <p>* denotes a required field</p>
            <form action="/addSchedule" method="POST">
                <h3>Days the class meets *</h3>
                {% for day in days %}
                <input type=checkbox name={{day}}>{{day}}</input>
                {% endfor %}
                <h3>Starting/Ending times *</h3>
                <div id=create_time_form_wrapper>
                </div>
                <h3>Professor *</h3>
                <div id=create_prof_form_wrapper>
                </div>
                <h3>Room number *</h3>
                <div id=create_room_form_wrapper>
                </div>
                <h3>Class *</h3>
                <div id=create_class_form_wrapper>
                </div>
                <h3>Section</h3>
                <p>Not always needed</p>
                <select name=section>
                    <option></option>
                    {% for i in range(1,10) %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select><br>
                <button class="button submit" type=submit>Add class</button>
            </form>
          </div>
        </div>
        <div class=edit_utils id=util_beginning>
            <h1>Edit configuration things here</h1>
            <h2>Add a room</h2>
            <p>Building + Number (ILC S110, Has 134, etc.)
            <form method="POST" action="/addRoom">
            <input name=room></input><br>
            <button type=submit class="submit button">Add</button>
            </form>
            <h2>Remove a room</h2>
            <form method="POST" action="/removeRoom">
                <div id=remove_room>
                </div>
                <button type=submit class="button remove">Remove</button>
            </form>
            <h2>Add class</h2>
            <p>Class type + Number + -Section# <br>( e.g.: Physics 131 Section 1 will be entered as P131-1, Physics 100 with no section will be entered as P100 )</p>
            <form method="POST" action="/addClass">
            <input name=class></input><br>
            <button type=submit class="submit button">Add</button>
            </form>
            <h2>Remove class</h2>
            <form method="POST" action="/removeClass">
                <div id=remove_class_form_wrapper>
                </div>
                <button type=submit class="button remove">Remove</button>
            </form>
            <form method="POST" action="/addTime">
                <h2>Add start/end times</h2>
                <p>The meridian is with respect to the STARTING TIME <br>(e.g.: 11:15 AM - 12:05 PM will be entered as: 11:15 AM - 12:05)</p>
                <h3>
                <select name=start_hour>
                    {% for i in range(1,13) %}
                    {% if i == 8 %}
                    <option selected>{{ i }}</option>
                    {% else %}
                    <option>{{ i }}</option>
                    {% endif %}
                    {% endfor %}
                </select><span class=time-format>:</span>
                <select name=start_min>
                    {% for i in range(0,60,5) %}
                    {% if i < 10 %}
                    <option>0{{ i }}</option>
                    {% else %}
                    <option>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <select name=meridian>
                    <option>AM</option>
                    <option>PM</option>
                </select><span class=time-format style="margin:0px 20px">-</span>
                <select name=end_hour>
                    {% for i in range(1,13) %}
                    {% if i == 8 %}
                    <option selected>{{ i }}</option>
                    {% else %}
                    <option>{{ i }}</option>
                    {% endif %}
                    {% endfor %}
                </select><span class=time-format>:</span>
                <select name=end_min>
                    {% for i in range(0,60,5) %}
                    {% if i < 10 %}
                    <option>0{{ i }}</option>
                    {% else %}
                    <option>{{i}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                </h3><br>
                <button type=submit class="submit button">Add</button>
            </form>
            <form method='POST' action='/removeTime'>
                <h2>Remove start/end times</h2>
                <div id=remove_time_form_wrapper>
                </div>
                <button type=submit class="button remove">Remove</button>
            </form>
                    
            <form method="POST" action="/addGoogleSched">
            <div id=cal_wrapper>
                <h2>Generate Class Events</h2>
                <h3>Enter the starting/ending dates of the coming semester</h3>
                <p><i>Note: </i>the server prevents class duplication</p><br>
                <input type=text id=starting_cal name=starting placeholder="Starting date">
                <input type=text id=ending_cal name=ending placeholder="Ending date"><br>
            <button type=submit class="submit button">Generate</button>
            </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src={{url_for('static',filename='script.js')}}></script>
    <script>
        var prof_selections, class_selections, time_selections, room_selections;
        function initialize(){
            var temp = "autocomplete=off><option selected disabled></option>";
            prof_selections = "<select name=prof "+temp;
            {% for prof in profs %}
            prof_selections += "<option>{{prof}}</option>";
            {% endfor %}
            class_selections = "<select name=class "+temp;
            {% for c in classes %}
            class_selections += "<option>{{c}}</option>";
            {% endfor %}
            time_selections = "<select name=time "+temp;
            {% for time in times %}
            time_selections += "<option>{{time}}</option>";
            {% endfor %}
            room_selections = "<select name=room "+temp;
            {% for room in rooms %}
            room_selections += "<option>{{room}}</option>";
            {% endfor %}
        }

        function edit_form_append(){
            var splitted, c, prof, time, days, room;
            splitted = document.getElementById("edit_schedule_selection").value.split(' ');
            c = splitted[0];
            prof = splitted[1];
            time = splitted[2];
            days = splitted[3];
            room = splitted[4] + " " + splitted[5];
            var html = "<br><h2>Change any of the following fields below</h2><p><i>Note:</i><span style=color:green>Only change the fields you want changed!</span> Blank fields will keep their current value and remain unchanged<p>";
            html += "<h3>Change the days this class meets</h3>"
            {% for day in days %}
            html += "<input type=checkbox name={{day}}>{{day}}</input>"
            {% endfor %}
            html += "<h3>Change the <b>professor</b></h3><p>Currently: " + prof + "</p><br>" +prof_selections+"</select><br>";
            html += "<h3>Change the <b>class</b></h3><p>Currently: " + c + "</p><br>" +class_selections+"</select><br>";
            html += "<h3>The <b>time</b> the class meets</h3><p>Currently: " + time + "</p><br>"+time_selections+"</select><br>";
            html += "<h3>The <b>room</b></h3><p>Currently: "+room+"</p><br>"+room_selections+"</select><br>";
            document.getElementById("editForm").innerHTML = html;
        }

        function addHtml(id, selection){
            document.getElementById(id).innerHTML = selection;
        }

        $(document).ready(function(){
            initialize();
            addHtml("remove_prof_form_wrapper",prof_selections);
            addHtml("create_time_form_wrapper",time_selections);
            addHtml("create_prof_form_wrapper",prof_selections);
            addHtml("create_room_form_wrapper",room_selections);
            addHtml("create_class_form_wrapper",class_selections);
            addHtml("remove_room",room_selections);
            addHtml("remove_class_form_wrapper",class_selections);
            addHtml("remove_time_form_wrapper",time_selections);
        });
    </script>
</body>
</html>
